
/* Vbox 1*/
.menu_chinh_container {
    -fx-padding: 30 30 30 30;
    -fx-background-color: #080C53;
    -fx-background-radius: 0 20 20 0;
}

.menu_chinh_container FontAwesomeIconView {
    -fx-fill: #ffffff;
}

.menu_chinh_container ImageView {
    -fx-padding: 20 20 20 20;
    -fx-translate-x: 70;
}

/* VBox 1.1 Navigation */
.menu_container {
    -fx-spacing: 10;
    -fx-background-radius: 20;
}

.dang_xuat Button ,
.menu_container Button {
<<<<<<< Updated upstream
    -fx-text-alignment: center;
    -fx-pref-width: 270;
    -fx-pref-height: 80;
=======
    -fx-pref-width: 300;
    -fx-pref-height: 50;
>>>>>>> Stashed changes
    -fx-background-color: #080C53;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16;
    -fx-background-radius: 10;
    -fx-alignment: center_left;
}


.dang_xuat Button FontAwesomeIconView ,
.menu_container Button FontAwesomeIconView {
    -fx-fill: #FFFFFF;
}


.dang_xuat {
    -fx-background-color: #080C53;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16;
    -fx-background-radius: 10;
    -fx-alignment: top - left;
}


.dang_xuat Button:hover ,
.menu_container Button:hover {
    -fx-cursor: hand;
    -fx-background-color: #a6adad;
    -fx-text-fill: white;
}
