/* Style.css*/
.button {
    -fx-background-color: #605DEC; /* Green color */
    -fx-text-fill: white; /* Text color */
    -fx-border-color: black;
}
.button:hover {
    -fx-background-color: #4422ac;
    -fx-text-fill: white;
    -fx-border-color: black;
}
.button:pressed {
    -fx-background-color: #4422ac;
    -fx-text-fill: white;
    -fx-border-color: white;
}
#fromWhereMenuButton {
    -fx-background-color: white;
}
#whereToMenuButton {
    -fx-background-color: white;
}
#calendarButton {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-width: 0;
}
.context-menu {
    -fx-pref-width: 200; /* Set the preferred width */
    -fx-pref-height: 150; /* Set the preferred height */
    -fx-font-size: 12;
    -fx-background-radius: 10;
}
#scrollPane {
    -fx-background-color: white;
    -fx-border-width: 0;
    -fx-padding: 0;
}

#scrollPane .scroll-bar {
    -fx-opacity: 0;
}

#scrollPane:hover .scroll-bar {
    -fx-opacity: 0;
}

/* MiniContextMenu */
.context-menu {
    -fx-pref-width: 100; /* Set the preferred width */
    -fx-pref-height: 75; /* Set the preferred height */
    -fx-font-size: 12;
    -fx-background-radius: 10;
}

.text-field {
    -fx-effect: null;
    -fx-background-color: white; /* Set background color to ensure no shadows are visible */
    -fx-border-color: transparent; /* Set border color to transparent */
    -fx-border-width: 0; /* Set border width to 0 to remove any borders */
}

.date-picker > .arrow-button {
    -fx-background-color: transparent;
}
/* Ba Hung */

.text {
    -fx-font-family: Inter;
}

.table-view {
    -fx-border-color: #080C53;
    -fx-background-color: white;
    -fx-border-width: 2;
    -fx-border-radius: 10;
}

.filter-pane {
    -fx-background-color: #080C53;
    -fx-background-radius: 20;
}


.background {
    -fx-background-color: #ffffff;
}


/* Button */
#custom_1 {
    -fx-background-color: #080C53;
    -fx-text-fill: white;
}

#custom_2 {
    -fx-background-color: #00A4BD;
    -fx-text-fill: white;
}