.text {
    -fx-font-family: Inter;
}

.table-view {
    -fx-background-color: white;
    -fx-border-color: #080C53;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-font-size: 13;
}

.filter-pane {
    -fx-background-color: #080C53;
    -fx-background-radius: 20;
}


/* Button */
.button {
    -fx-background-color:  #080C53;
    -fx-text-fill: white;
    -fx-border-radius: 20;
    -fx-font-size: 16;
    -fx-font-family: Inter;
    -fx-background-radius: 20;
}

.button:hover {
    -fx-cursor: hand;
    -fx-background-color: #00A4BD;
    -fx-text-fill: white;
}

/* Custom */
#custom_1 {
    -fx-background-color: #080C53;
    -fx-text-fill: white;
}

#custom_2 {
    -fx-background-color: #00A4BD;
    -fx-text-fill: white;
}
