.them_phan_quyen {
    -fx-text-fill: 18;
}

.text {
    -fx-font-family: Inter;
}

.label {
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-text-fill: #080C53;
}

.mfx-text-field .text-field {
    -fx-background-color: #ffffff;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-font-size: 16;
}

#custom_them {
    -fx-background-color: black;
    -fx-font-size: 16;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}
