.text {
    -fx-font-family: Inter;
}

.background-color {
    -fx-background-color: white;
}

.table-view {
    -fx-background-color: white;
    -fx-border-color: #080C53;
    -fx-border-width: 2;
    -fx-border-radius: 10;
}

.mfx-button {
    -fx-background-color: #080C53;
    -fx-text-fill: white;
}

.mfx-button:hover {
    -fx-cursor: hand;
    -fx-background-color: #00A4BD;
    -fx-text-fill: white;
}