.text {
    -fx-font-family: Inter;
    -fx-font-weight: bold;
}

.background-color {
    -fx-background-color: white;
}

.grid-pane {
    -fx-border-radius: 10;
    -fx-border-color: #080C53;
}

.table-view {
    -fx-background-color: white;
    -fx-border-color: #080C53;
    -fx-border-width: 2;
    -fx-border-radius: 10;
}

.combo-box {
    -fx-background-color: white;
    -fx-border-color: #080C53;
    -fx-border-radius: 10;
}

#custom-2:hover {
    -fx-background-color: #080C53;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.text-field {
    -fx-border-color: #080C53;
}

#custom-2 {
    -fx-background-color: #00A4BD;
    -fx-text-fill: white;
    -fx-border-radius: 10;
    -fx-font-size: 13;
}

.vbox {
    -fx-border-color: #080C53;
    -fx-border-radius: 10;
}

#custom {
    -fx-background-color: #080C53;
    -fx-text-fill: white;
    -fx-font-size: 16;
}

#custom:hover {
    -fx-background-color: #00A4BD;
    -fx-text-fill: white;
}

.title-text {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-font-family: Inter;
}

/* Table view */
/* tableview-styles.css */
.custom-tableview {
    -fx-background-color: #f4f4f4;
    -fx-border-color: #ddd;
    -fx-table-cell-border-color: #ddd;
    -fx-border-radius: 8;
    -fx-padding: 10;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0, 0);
}

.custom-tableview .column-header-background {
    -fx-background-color: #0078d7;
}

.custom-tableview .column-header, .custom-tableview .filler {
    -fx-size: 40;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-background-color: #0078d7;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: center-left;
    -fx-border-radius: 8 8 0 0;
}

.custom-tableview .table-row-cell {
    -fx-background-color: #ffffff;
    -fx-border-color: transparent;
    -fx-padding: 5;
    -fx-border-radius: 5;
}

.custom-tableview .table-row-cell:even {
    -fx-background-color: #dbdbdb;
}

.custom-tableview .table-row-cell:hover {
    -fx-background-color: #e8f4ff;
}

.custom-tableview .table-row-cell:selected {
    -fx-background-color: #d0e7ff;
    -fx-text-fill: black;
}

.custom-tableview .table-cell {
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-font-size: 12px;
}

.custom-tableview .table-cell:selected {
    -fx-background-color: #00A4BD;
    -fx-text-fill: black;
}

.custom-tableview .column-header .label {
    -fx-text-fill: white;
}

.custom-tableview .resize-line {
    -fx-stroke: white;
}

/* styles.css */

#disabled-field {
    -fx-opacity: 1.0; /* Retain original opacity */
    -fx-background-color: white; /* Maintain background color */
    -fx-text-fill: black; /* Maintain text color */
    -fx-font-weight: bold; /* Maintain font weight */
}


